# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [10]:
x = float(3)
print(x)
type(x)

3.0

float

In [12]:
y = int(4.5)
print(y)
type(y)

4

int

In [14]:
z = int(8)
print(z)
type(z)

8

int

In [16]:
a = float(12)
print(a)
type(a)

12.0

float

In [17]:
b = int(46.8)
print(b)
type(b)

46

int

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [19]:
ali = 28
zeynep = 17
simge = 23

In [22]:
ali >= zeynep and simge != zeynep

True

In [24]:
ali < simge or simge >= zeynep

True

In [25]:
not(zeynep <= ali and ali != simge)

False

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [58]:
sayı1 = input("Birinci sayıyı giriniz: ")
sayı2 = input("İkinci sayıyı giriniz: ")

toplama_islemi = int(sayı1) + int(sayı2)
cıkarma_islemi = int(sayı1) - int(sayı2)
carpma_islemi = int(sayı1) * int(sayı2)
bölme_islemi = int(sayı1) / int(sayı2)

print("Toplam: ", toplama_islemi)
print("Çıkarma: ", cıkarma_islemi)
print("Çarpım: ", carpma_islemi)
print("Bölüm: ", bölme_islemi)

Toplam:  14
Çıkarma:  -4
Çarpım:  45
Bölüm:  0.5555555555555556

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [33]:
isim = input("İsminiz: ")
yas = input("Yaşınız: ")
sehir = input("Yaşadığınız şehir: ")
meslek = input("Mesleğiniz: ")

print(isim) 
print(yas)
print(sehir)
print(meslek)

Zülal
25
İzmir
Biyolog

# 5     
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [34]:
assignment = "Hi-Kod Veri Bilimi Atölyesi"

In [55]:
print(assignment[0:6])
print(assignment[7:11])
print(assignment[12:18])
print(assignment[19:27])

Hi-Kod
Veri
Bilimi
Atölyesi

In [45]:
assignment_2 = assignment.upper()
assignment_2

'HI-KOD VERI BILIMI ATÖLYESI'

In [47]:
assignment_3 = assignment_2.lower()
assignment_3

'hi-kod veri bilimi atölyesi'

In [54]:
numbers = "0123456789"

even_numbers = numbers[::2]
odd_numbers = numbers[1 ::2]
print(even_numbers)
print(odd_numbers)

02468
13579